{% extends 'inicio.html' %}
{% load bootstrap5 %}

{% block principal %}

<h1 class="text-center">NAVEGUE POR NOSSAS API'S</h1>
<ul class="list-group">
  <li class="list-group-item list-group-item-action"><a href="agenda" class="nav-link">
    <span class="fw-bold"> Api - Reserva </span>
  </a>
   </li>
  <li class="list-group-item list-group-item-action"><a href="petshop" class="nav-link">
    <span class="fw-bold"> Api - Local e Reserva</span>
   </a>
  </li>
  <li class="list-group-item list-group-item-action"><a href="contato" class="nav-link">
    <span class="fw-bold"> Api - Contatos</span>
   </a>
  </li>
  <li class="list-group-item list-group-item-action"><a href="agenda-porte" class="nav-link">
    <span class="fw-bold"> Api - Reserva e Porte</span>
   </a>
  </li>
</ul>

{% endblock %}