
{% extends 'inicio.html' %}
{% load bootstrap5 %}
{% block principal %}
<h1>Formulário de Contato</h1>
<p>
  <!--Nessa tag p consigo puxar informações atraves de parametros buscado na view do template-->
    Envie uma mensagem através do formulário abaixo ou ligue para o telefone {{telefone}}
    falando com o responsável {{responsavel| upper}}.
</p>
{% if sucesso %}
<p class="alert alert-success">Mensagem enviada com sucesso!</p>
{% endif %}
<form action="" method="post" novalidate>
  {% csrf_token %}
  <!--Esse Tagtemplate busca o formulario criado no bootstrap-->
  {% bootstrap_form form %}
  <!--A linha abixo referência o Botão de enviar mensagem-->
  <hr>
  <button type="submit" class="btn btn-primary">Enviar Mensagem </button> 
</form>
{% endblock %}