<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Pet</title>
</head>
   <!-- Bootstrap core CSS -->
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">

   <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }
   </style>

   
   <!-- Custom styles for this template -->
   <link href="/static/css/starter-template.css" rel="stylesheet">
 </head>
  <body>
   <div  class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-tabs">
            <a class="navbar-brand" href="{% url 'inicio' %}">
             <img src="/static/imagens/logo-pet.jpeg" alt="logo-pet" width="63px" height="30px" class="d-inline-block align-text-top">
            <span class="fw-bold" >MUNDO PET</span></a>
          
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'api' %}" role="button" aria-expanded="false" >
            <span class="fw-bold"> API's </span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="api/agenda">Api - Reserva</a></li>
              <li><a class="dropdown-item" href="api/petshop">Api - Local e Reserva</a></li>
              <li><a class="dropdown-item" href="api/contato">Api - Contatos</a></li>
              <li><a class="dropdown-item" href="api/agenda-porte">Api - Reserva e Porte</a></li>

            </ul>
          </li>

          <li class="nav-item" role="presentation">
           <a class="nav-link" href="http://127.0.0.1:8000/admin/" >
           <span class="fw-bold"> ADM - PET </span>
          </a></li>
                         
           {% if user.is_authenticated %}
          <li class="nav-item" role="presentation">
            <a class="nav-link" class="btn btn-primary" href="{% url 'logout_usuario' %}">
             <span class="fw-bold" > LOGOUT </span>
            </a></li>
            {% else %}
            <li class="nav-item" role="presentation">
             <a class="nav-link" href="{% url 'login_usuario' %}" >
              <span class="fw-bold"> LOGIN </span>
             </a></li>
  
            <li class="nav-item" role="presentation">
             <a class="nav-link" href="{% url 'novo_usuario' %}" >
              <span class="fw-bold"> CADASTRAR-SE </span>
             </a></li>
  
            {% endif %}
 
        </ul>
      </header> 
    </div>
       

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
          <!--Criando uma herança de estrutura para redundancia nas proximas paginas-->
          {% block principal %}
          <!--Criação da descrição do site e como ele funciona-->
          <div>
            <img src="/static/imagens/logo-pet.jpeg" alt="logo-pet" width="300px" height="100px" class="position-relative top-10 start-50 translate-middle" >
           <p>
              Bem vindo ao Petshop Mundo Pet, aqui você poderá fazer a reserva do banho do seu Pet de forma rapida
              e segura nossa plataforma oferece o melhor para facilitar o o banho de seu Pet.
              
              <br>E também disponibilizamos nossas Api's para agendamento e vizualizar disponibilidade de horários


            </p>
           <hr>
          </div>
            <h2 class="text-primary text-center">FAÇA SUA RESERVA</h2>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action"><a href="{% url 'criar'%}" class="nav-link">
                <span class="fw-bold">Reservar Horário</span>
              </a>
            </li>
              <li class="list-group-item list-group-item-action"><a href="{% url 'contato'%}" class="nav-link">
                <span class="fw-bold">Contato</span>
              </a>
            </li>
            </ul>
            
          {% endblock %}
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            Curso Python Ultima School
        </footer>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
 </body>
</html>